<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adc.dao.ProvinceDao">

    <insert id="insert" parameterType="com.adc.model.Province">
        insert into province (province_id, province_name) values (#{provinceId}, #{provinceName})
    </insert>

    <select id="selectAll" resultType="com.adc.model.Province">
        select
            province_id as provinceId,
            province_name as provinceName
        from province
    </select>
</mapper>