<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adc.dao.SchoolProvinceScoreDao">

    <insert id="insertList">
        insert into school_province_score(
            school_id,
            student_province_id,
            student_type,
            year,
            max_score,
            min_score,
            avg_score,
            pro_score,
            min_position,
            batch_name
        ) values
        <foreach collection="scoreList" item="score" separator=",">
            (
                #{score.schoolId},
                #{score.studentProvinceId},
                #{score.studentType},
                #{score.year},
                #{score.maxScore},
                #{score.minScore},
                #{score.avgScore},
                #{score.proScore},
                #{score.minPosition},
                #{score.batchName}
            )
        </foreach>
        on duplicate key update
        max_score=values(max_score),
        min_score=values(min_score),
        avg_score=values(avg_score),
        pro_score=values(pro_score),
        min_position=values(min_position)
    </insert>

</mapper>